// comment_copy 图片:
$comment_copy-position: (-48px/2) (0px/2);
$comment_copy-image: 'cmt.png';
$comment_copy-size: (122px/2) (76px/2);
$comment_copy-width: (32px/2);
$comment_copy-height: (32px/2);

// comment_delete_icon 图片:
$comment_delete_icon-position: (0px/2) (-44px/2);
$comment_delete_icon-image: 'cmt.png';
$comment_delete_icon-size: (122px/2) (76px/2);
$comment_delete_icon-width: (32px/2);
$comment_delete_icon-height: (32px/2);

// comment_good 图片:
$comment_good-position: (-42px/2) (-44px/2);
$comment_good-image: 'cmt.png';
$comment_good-size: (122px/2) (76px/2);
$comment_good-width: (32px/2);
$comment_good-height: (32px/2);

// comment_reply 图片:
$comment_reply-position: (-90px/2) (0px/2);
$comment_reply-image: 'cmt.png';
$comment_reply-size: (122px/2) (76px/2);
$comment_reply-width: (32px/2);
$comment_reply-height: (32px/2);

// pic_share_normal 图片:
$pic_share_normal-position: (0px/2) (0px/2);
$pic_share_normal-image: 'cmt.png';
$pic_share_normal-size: (122px/2) (76px/2);
$pic_share_normal-width: (38px/2);
$pic_share_normal-height: (34px/2);

