// cou-d-used 图片:
$cou-d-used-position: (-310px/2) (0px/2);
$cou-d-used-image: 'couponList.png';
$cou-d-used-size: (682px/2) (482px/2);
$cou-d-used-width: (182px/2);
$cou-d-used-height: (172px/2);

// cou-d-useless 图片:
$cou-d-useless-position: (0px/2) (-310px/2);
$cou-d-useless-image: 'couponList.png';
$cou-d-useless-size: (682px/2) (482px/2);
$cou-d-useless-width: (182px/2);
$cou-d-useless-height: (172px/2);

// cou-new 图片:
$cou-new-position: (-192px/2) (-310px/2);
$cou-new-image: 'couponList.png';
$cou-new-size: (682px/2) (482px/2);
$cou-new-width: (180px/2);
$cou-new-height: (136px/2);

// cou-used 图片:
$cou-used-position: (-502px/2) (0px/2);
$cou-used-image: 'couponList.png';
$cou-used-size: (682px/2) (482px/2);
$cou-used-width: (180px/2);
$cou-used-height: (136px/2);

// cou-useless 图片:
$cou-useless-position: (-502px/2) (-146px/2);
$cou-useless-image: 'couponList.png';
$cou-useless-size: (682px/2) (482px/2);
$cou-useless-width: (180px/2);
$cou-useless-height: (136px/2);

// icon-logo 图片:
$icon-logo-position: (-502px/2) (-292px/2);
$icon-logo-image: 'couponList.png';
$icon-logo-size: (682px/2) (482px/2);
$icon-logo-width: (42px/2);
$icon-logo-height: (42px/2);

// line-new 图片:
$line-new-position: (-516px/2) (-344px/2);
$line-new-image: 'couponList.png';
$line-new-size: (682px/2) (482px/2);
$line-new-width: (4px/2);
$line-new-height: (134px/2);

// line 图片:
$line-position: (-502px/2) (-344px/2);
$line-image: 'couponList.png';
$line-size: (682px/2) (482px/2);
$line-width: (4px/2);
$line-height: (134px/2);

// night-plus 图片:
$night-plus-position: (-642px/2) (-292px/2);
$night-plus-image: 'couponList.png';
$night-plus-size: (682px/2) (482px/2);
$night-plus-width: (30px/2);
$night-plus-height: (30px/2);

// night-share 图片:
$night-share-position: (-598px/2) (-292px/2);
$night-share-image: 'couponList.png';
$night-share-size: (682px/2) (482px/2);
$night-share-width: (34px/2);
$night-share-height: (40px/2);

// no-coupon 图片:
$no-coupon-position: (0px/2) (0px/2);
$no-coupon-image: 'couponList.png';
$no-coupon-size: (682px/2) (482px/2);
$no-coupon-width: (300px/2);
$no-coupon-height: (300px/2);

// plus 图片:
$plus-position: (-530px/2) (-344px/2);
$plus-image: 'couponList.png';
$plus-size: (682px/2) (482px/2);
$plus-width: (30px/2);
$plus-height: (30px/2);

// share 图片:
$share-position: (-554px/2) (-292px/2);
$share-image: 'couponList.png';
$share-size: (682px/2) (482px/2);
$share-width: (34px/2);
$share-height: (40px/2);

