// icon-dot-night 图片:
$icon-dot-night-position: (-28px/2) (-84px/2);
$icon-dot-night-image: 'icon.png';
$icon-dot-night-size: (108px/2) (108px/2);
$icon-dot-night-width: (30px/2);
$icon-dot-night-height: (8px/2);

// icon-dot 图片:
$icon-dot-position: (-68px/2) (-84px/2);
$icon-dot-image: 'icon.png';
$icon-dot-size: (108px/2) (108px/2);
$icon-dot-width: (30px/2);
$icon-dot-height: (8px/2);

// icon-map-night 图片:
$icon-map-night-position: (-86px/2) (-30px/2);
$icon-map-night-image: 'icon.png';
$icon-map-night-size: (108px/2) (108px/2);
$icon-map-night-width: (18px/2);
$icon-map-night-height: (24px/2);

// icon-map 图片:
$icon-map-position: (0px/2) (-84px/2);
$icon-map-image: 'icon.png';
$icon-map-size: (108px/2) (108px/2);
$icon-map-width: (18px/2);
$icon-map-height: (24px/2);

// icon-pic-night 图片:
$icon-pic-night-position: (-54px/2) (0px/2);
$icon-pic-night-image: 'icon.png';
$icon-pic-night-size: (108px/2) (108px/2);
$icon-pic-night-width: (22px/2);
$icon-pic-night-height: (20px/2);

// icon-pic 图片:
$icon-pic-position: (0px/2) (-54px/2);
$icon-pic-image: 'icon.png';
$icon-pic-size: (108px/2) (108px/2);
$icon-pic-width: (22px/2);
$icon-pic-height: (20px/2);

// icon-play 图片:
$icon-play-position: (0px/2) (0px/2);
$icon-play-image: 'icon.png';
$icon-play-size: (108px/2) (108px/2);
$icon-play-width: (44px/2);
$icon-play-height: (44px/2);

// icon-talk-night 图片:
$icon-talk-night-position: (-32px/2) (-54px/2);
$icon-talk-night-image: 'icon.png';
$icon-talk-night-size: (108px/2) (108px/2);
$icon-talk-night-width: (22px/2);
$icon-talk-night-height: (20px/2);

// icon-talk 图片:
$icon-talk-position: (-86px/2) (0px/2);
$icon-talk-image: 'icon.png';
$icon-talk-size: (108px/2) (108px/2);
$icon-talk-width: (22px/2);
$icon-talk-height: (20px/2);

