// cloud-left 图片:
$cloud-left-position: (-188px/2) (0px/2);
$cloud-left-image: 'redpackets.png';
$cloud-left-size: (432px/2) (276px/2);
$cloud-left-width: (244px/2);
$cloud-left-height: (88px/2);

// cloud-right 图片:
$cloud-right-position: (0px/2) (-188px/2);
$cloud-right-image: 'redpackets.png';
$cloud-right-size: (432px/2) (276px/2);
$cloud-right-width: (244px/2);
$cloud-right-height: (88px/2);

// icon 图片:
$icon-position: (-336px/2) (-150px/2);
$icon-image: 'redpackets.png';
$icon-size: (432px/2) (276px/2);
$icon-width: (20px/2);
$icon-height: (20px/2);

// label-left 图片:
$label-left-position: (-188px/2) (-98px/2);
$label-left-image: 'redpackets.png';
$label-left-size: (432px/2) (276px/2);
$label-left-width: (142px/2);
$label-left-height: (16px/2);

// label-right 图片:
$label-right-position: (-188px/2) (-124px/2);
$label-right-image: 'redpackets.png';
$label-right-size: (432px/2) (276px/2);
$label-right-width: (142px/2);
$label-right-height: (16px/2);

// share-failure 图片:
$share-failure-position: (0px/2) (0px/2);
$share-failure-image: 'redpackets.png';
$share-failure-size: (432px/2) (276px/2);
$share-failure-width: (178px/2);
$share-failure-height: (178px/2);

// share-left 图片:
$share-left-position: (-188px/2) (-150px/2);
$share-left-image: 'redpackets.png';
$share-left-size: (432px/2) (276px/2);
$share-left-width: (28px/2);
$share-left-height: (28px/2);

// share-right 图片:
$share-right-position: (-226px/2) (-150px/2);
$share-right-image: 'redpackets.png';
$share-right-size: (432px/2) (276px/2);
$share-right-width: (28px/2);
$share-right-height: (28px/2);

// user-default 图片:
$user-default-position: (-264px/2) (-150px/2);
$user-default-image: 'redpackets.png';
$user-default-size: (432px/2) (276px/2);
$user-default-width: (26px/2);
$user-default-height: (24px/2);

// user-disabled 图片:
$user-disabled-position: (-300px/2) (-150px/2);
$user-disabled-image: 'redpackets.png';
$user-disabled-size: (432px/2) (276px/2);
$user-disabled-width: (26px/2);
$user-disabled-height: (24px/2);

