// report 图片:
$report-position: (0px/2) (0px/2);
$report-image: 'report.png';
$report-size: (118px/2) (118px/2);
$report-width: (54px/2);
$report-height: (54px/2);

// report_night 图片:
$report_night-position: (-64px/2) (0px/2);
$report_night-image: 'report.png';
$report_night-size: (118px/2) (118px/2);
$report_night-width: (54px/2);
$report_night-height: (54px/2);

// report_night_press 图片:
$report_night_press-position: (0px/2) (-64px/2);
$report_night_press-image: 'report.png';
$report_night_press-size: (118px/2) (118px/2);
$report_night_press-width: (54px/2);
$report_night_press-height: (54px/2);

// report_press 图片:
$report_press-position: (-64px/2) (-64px/2);
$report_press-image: 'report.png';
$report_press-size: (118px/2) (118px/2);
$report_press-width: (54px/2);
$report_press-height: (54px/2);

