// arrow-gray 图片:
$arrow-gray-position: (-42px/2) (-50px/2);
$arrow-gray-image: 'special.png';
$arrow-gray-size: (116px/2) (102px/2);
$arrow-gray-width: (24px/2);
$arrow-gray-height: (14px/2);

// arrow-white 图片:
$arrow-white-position: (-76px/2) (-50px/2);
$arrow-white-image: 'special.png';
$arrow-white-size: (116px/2) (102px/2);
$arrow-white-width: (24px/2);
$arrow-white-height: (14px/2);

// gotop 图片:
$gotop-position: (0px/2) (0px/2);
$gotop-image: 'special.png';
$gotop-size: (116px/2) (102px/2);
$gotop-width: (32px/2);
$gotop-height: (40px/2);

// menu 图片:
$menu-position: (-84px/2) (0px/2);
$menu-image: 'special.png';
$menu-size: (116px/2) (102px/2);
$menu-width: (32px/2);
$menu-height: (28px/2);

// night-arrow 图片:
$night-arrow-position: (0px/2) (-88px/2);
$night-arrow-image: 'special.png';
$night-arrow-size: (116px/2) (102px/2);
$night-arrow-width: (24px/2);
$night-arrow-height: (14px/2);

// night-gotop 图片:
$night-gotop-position: (-42px/2) (0px/2);
$night-gotop-image: 'special.png';
$night-gotop-size: (116px/2) (102px/2);
$night-gotop-width: (32px/2);
$night-gotop-height: (40px/2);

// night-menu 图片:
$night-menu-position: (0px/2) (-50px/2);
$night-menu-image: 'special.png';
$night-menu-size: (116px/2) (102px/2);
$night-menu-width: (32px/2);
$night-menu-height: (28px/2);

