// video-control-pause 图片:
$video-control-pause-position: (0px/2) (0px/2);
$video-control-pause-image: 'video.png';
$video-control-pause-size: (236px/2) (170px/2);
$video-control-pause-width: (80px/2);
$video-control-pause-height: (80px/2);

// video-control-play 图片:
$video-control-play-position: (-90px/2) (0px/2);
$video-control-play-image: 'video.png';
$video-control-play-size: (236px/2) (170px/2);
$video-control-play-width: (80px/2);
$video-control-play-height: (80px/2);

// video-fullscreen-trigger 图片:
$video-fullscreen-trigger-position: (-180px/2) (0px/2);
$video-fullscreen-trigger-image: 'video.png';
$video-fullscreen-trigger-size: (236px/2) (170px/2);
$video-fullscreen-trigger-width: (56px/2);
$video-fullscreen-trigger-height: (56px/2);

// video-fullscreen 图片:
$video-fullscreen-position: (0px/2) (-90px/2);
$video-fullscreen-image: 'video.png';
$video-fullscreen-size: (236px/2) (170px/2);
$video-fullscreen-width: (80px/2);
$video-fullscreen-height: (80px/2);

// video-play 图片:
$video-play-position: (-90px/2) (-90px/2);
$video-play-image: 'video.png';
$video-play-size: (236px/2) (170px/2);
$video-play-width: (70px/2);
$video-play-height: (70px/2);

