<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= title %></title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="renderer" content="webkit" />
  <meta name="format-detection" content="telephone=no" />
  <!-- QQ强制竖屏 -->
  <meta name="x5-orientation" content="portrait" />
  <!-- UC 强制竖屏 -->
  <meta name="screen-orientation" content="portrait" />
  <link rel="alternate icon" type="image/png" href="../../images/favicon.png" />
  <!-- build:app -->
  <link rel="stylesheet"  href="../../.build/css/app.css" />
  <!-- endbuild -->
</head>
<body>

<!-- build:js-common -->
<script src="../../.build/js/common.bundle.js"></script>
<!-- endbuild -->
<!-- build:js-special -->
<script src="../../.build/js/<%= name %>.bundle.js"></script>
<!-- endbuild -->
</body>
</html>
